@import "tailwindcss";

* {
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-300);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-400);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

button {
  cursor: pointer;
}
